/* .App {
    text-align: center;
    background-color: blue;
  } */

body {
    background-color: #f3c460;
    color: white;
    /* padding: 40px; */
    font-family: Arial;
    text-align: center;
    font-size: large;
}
  
  